h1{
	color: blue;
	font-size: 40px; 
	text-align: center;
} 
h2{
	color: blue;
	font-size: 40px;
	text-align:center;
}
h1#LGR {
	text-align: center;
	font-weight: bold; 
	color: black;
}
h2#LGR2{
	text-align: center;
	font-weight: bold; 
	color: black;
	
}
p{
	color: black;
	font-size: 16px;
	
	font-weight:bold;
}
html { 
  background: url(http://upload.wikimedia.org/wikipedia/commons/5/5a/Lopransei%C3%B0i_and_Kirvi_a_Mountain_in_Su%C3%B0uroy_and_the_Cliff_Beinisv%C3%B8r%C3%B0.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
